name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Mavenを使ってビルド
      run: mvn --batch-mode --update-snapshots verify
    - name: リリースするディレクトリを作成
      run: mkdir staging && cp target/*.jar staging
    - name: パッケージをビルドの成果物としてリリース
      uses: softprops/action-gh-release@v1
      with:
        tag_name: action-v${{ github.run_number }}
        path: staging
        files: '*.jar'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
