# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ developments ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots verify
    - name: ディレクトリを作成
      run: mkdir staging && cp target/*.jar staging
    - name: パッケージをビルドの成果物としてアップロード
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: staging
